<div class="header">
  <div class="header__title" routerLink="/">Ecommerce JP</div>
  <div class="header__navigation">
    <div *ngIf="!isAuthorized">
      <a
        class="app-a"
        routerLink="auth/registration"
        routerLinkActive="app-a_active"
        >Registrar</a
      >
      <a class="app-a" routerLink="auth/login" routerLinkActive="app-a_active"
        >Log In</a
      >
    </div>
    <div *ngIf="isAuthorized">
      <a class="app-a" routerLink="jobs">Jobs</a>
      <a class="app-a" routerLink="employees">Employees</a>
      <a class="app-a" (click)="onProfileNavigate()">Profile</a>
      <a class="app-a" (click)="onSignOut()">Log out</a>
    </div>
  </div>
</div>
